openai

python-dotenv

langchain-openai

langchain-google-genai

langchain_ollama

langchain-huggingface

streamlit

langsmith

langchain-aws

langchain-community 

pypdf

langchain

langchain_chroma

langchain_community